/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #232748;
}

.header{
    width: 100vw;
    height: 113px;
}

.Decoration{
    width: 60px;
}
.Decoration.down{
    width: 80px;
}

.logo{
    width: 100px;
}

.logo_text{
    display: flex;
    align-items: center;
    background: #232748
}

.text{
    color: #fff;
    text-align: center;
    font-size: 1em;
}

#right{
    margin-left: auto;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2f5597;
    min-height: 8vh;
    width: 100%;
}

.nav-content {
    width: 100%;
}

.nav-links{
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-links li {
    letter-spacing: 3px;
    margin: 0px 5%;
    width:25%;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#close{
    font-size: 30px;
}
.modal form {
    padding: 10px 30px 50px 30px;
}

.modal form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.modal form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.modal form .field input:focus,
.modal  form .field input:valid {
    border-color: #4158d0;
}

.modal form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.modal form .field input:focus~label,
.modal form .field input:valid~label {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.modal form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

.modal form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal form .content input {
    width: 15px;
    height: 15px;
    background: red;
}

.modal form .content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

.modal form .content .pass-link {
    color: "";
}

.modal form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #232748;
    transition: all 0.3s ease;
}

.modal form .field input[type="submit"]:active {
    transform: scale(0.95);
}

.modal form .signup-link {
    color: #262626;
    margin-top: 20px;
    text-align: center;
}

.modal form .pass-link a,
.modal form .signup-link a {
    color: #4158d0;
    text-decoration: none;
}

.modal form .pass-link a:hover,
.modal form .signup-link a:hover {
    text-decoration: underline;
} 



.modal_container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color:rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}


.modal{
    background: #fff;
    padding: 30px;
    border-radius: 25px;
}






























.body{
    height: calc(100% - 113px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232748;
    color: #fff;
}

.container{
    position: relative;
    max-width: 80%;
    width: 100%;
    background: #232748;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    border: solid 1px wheat;
    margin-top: 7rem;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 660px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    max-width: 50%;
    padding: 30px;
    background-color: #232748;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

h3,h6{
    text-align: center;
    color: #fff;
}
.ptiti{
    text-align: center;
}